<div id="<%= dom_id cliente %>">
    <tr>
      <td><%= cliente.nome %></td>
      <td><%= cliente.cpf %></td>
      <td><%= cliente.sexo %></td>
      <td><%= cliente.telefone %></td>
      <td>
        <%= link_to "<i class='fa fa-search-plus' aria-hidden='true'></i>".html_safe, cliente %>
      </td>
    </tr>
</div>

 


