
<p style="color: green"><%= notice %></p>
<div class="container">

<div class="row">
  <div class="col-10">
    <h1>Clientes</h1>
  </div>
  <div class="col-2">
    <%= link_to "NOVO CLIENTE", new_cliente_path , class:"btn btn-primary"%>
  </div>
</div>


<hr>
<div id="clientes">



<table class="table table-hover">
  <thead>
    <tr>
      <th>NOME</th>
      <th>CPF</th>
      <th>SEXO</th>
      <th>TELEFONE</th>
      <th>AÇÕES</td>
    </tr>
  </thead>
  <tbody>



  <% @clientes.each do |cliente| %>

    <tr>
      <td><%= cliente.nome %></td>
      <td><%= cliente.cpf %></td>
      <td><%= cliente.sexo %></td>
      <td><%= cliente.telefone %></td>
      <td>
        <%= link_to "<i class='fa fa-search-plus' aria-hidden='true'></i>".html_safe, cliente %>
      </td>
    </tr>


  <% end %>


  </tbody>
</table>








</div>








</div>
