<%if !notice.nil? %>
    <div class="alert alert-success" role="alert"> <%= notice %> </div>
<% end %>
<div class="container">
    <div class="card mb-3" style="max-width: 540px;" >
      <div class="row g-0">
        <div class="col-md-4">
        
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">NOME: <%= @cliente.nome %></h5>
            <h5 class="card-title">RG: <%= @cliente.rg %></h5>
            <h5 class="card-title">CPF: <%= @cliente.cpf %></h5>
            <h5 class="card-title">NASCIMENTO: <%= @cliente.nascimento %></h5>
            <h5 class="card-title">TELEFONE: <%= @cliente.telefone %></h5>
            <h5 class="card-title">EMAIL: <%= @cliente.email %></h5>
            <h5 class="card-title">SEXO: <%= @cliente.sexo %></h5>
            <h5 class="card-title">ENDEREÇO: <%= @cliente.endereco %></h5>
          </div>
        </div>
      </div>
    </div>




    <div class="btn-group">
      <%= link_to "Voltar", clientes_path, class:"btn btn-secondary" %>
      <%= link_to "Editar", edit_cliente_path(@cliente), class:"btn btn-primary" %> 
      <%= button_to "Apagar", @cliente, method: :delete , class:"btn btn-danger" %>
    </div>

    
</div>

