<div id="<%= dom_id produto %>">
  <p>
    <strong>Marcadoproduto:</strong>
    <%= produto.marcaDoProduto %>
  </p>

  <p>
    <strong>Nomedoproduto:</strong>
    <%= produto.nomeDoProduto %>
  </p>

  <p>
    <strong>Datadefabricacao:</strong>
    <%= produto.dataDeFabricacao %>
  </p>

  <p>
    <strong>Valordoproduto:</strong>
    <%= produto.valorDoProduto %>
  </p>

  <p>
    <strong>Disponibilidadedeestoque:</strong>
    <%= produto.disponibilidadeDeEstoque %>
  </p>

</div>
